@{
    ViewData["Title"] = "Home Page";
}

<section class="page-section clearfix">

    <div class="container">
        <div class="intro">
            <img class="img-fluid intro-img mb-3 mb-lg-0 rounded" src="~/img/v18_7.png">
            <div class="intro-text left-0 text-centerfaded p-5 rounded bg-faded text-center">
                <h2 class="section-heading mb-4"><span class="section-heading-upper">Make Eating Easier by having food</span><span class="section-heading-lower">delievered to you!</span></h2>
                <p class="mb-3">Explore your options in Denton to find something that will satisfy your taste buds! Order online and enjoy the convience of having those options delievered to your front door.<br><br></p>

            </div>
        </div>
    </div>
</section>